* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 240px;
  background-color: #f4f5f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #2a3d66;
  font-size: 16px;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header a {
  font-size: 16px;
  color: #2a3d66;
  text-decoration: none;
}

.profile-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-top: 30px;
}

.input-section {
  display: flex;
  margin-top: 20px;
}

.input-section input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.submit-btn {
  background-color: #2a3d66;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn img {
  width: 20px;
  height: 20px;
}